<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/content.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <div class="header__title">
      <h1>Add Content</h1>
    </div>
    <main>
      <section class="main-area">
        <div class="header__title">
          <h3>Presentations</h3>
        </div>
          <div class="main-area__form">
            <form class="content-form" action="/admin/add-content" method="POST">
              <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
              </div>
              <div class="form-control">
                <label for="title">Description</label>
                <textarea name="description" id="descri rows=" 5"></textarea>
              </div>
              <div class="form-control">
                <label for="slidesIcon">Slides</label>
                <input type="text" name="slidesIcon" id="slidesIcon">
                <input type="text" name="slides" id="slides">
              </div>
              <div class="form-control">
                <label for="pdfIcon">pdf</label>
                <input type="text" name="pdfIcon" id="pdfIcon">
                <input type="text" name="pdf" id="pdf">
              </div>

              <button class="btn" type="submit">Add Content</button>
            </form>
          </div>

      </section>
    </main>
<%- include('../includes/end.ejs') %>
