<section class="blog">

  <h1 class="blog__title">
    Blog > Down the Code Mine
  </h1>
  <h3 class="blog__intro">
    < Ruminations of a Software Developer>
  </h3>

  <ul class="blog__cards cards">

    <li class="cards__item">
      <div class="blog__card card">
        <div class="lazyload card__image card__image--extreme"></div>
        <div class="card__content card__content-blog">
          <div class="card__category">ARCHIVE</div>
          <div class="card__title">Extreme Identifiers (for use in URIs)</div>
          <p class="card__text">Recently I have been thinking about how Identifiers for things should be
            constructed. More specifically, as part of Project Omega for TNA (The National Archives), I have been
            thinking about identifiers for resources in RDF... </p>

          <div class="card__link">5 MIN READ | <a href="https://blog.adamretter.org.uk/author/adamretter/"
              alt="link to Adam retter Blog"> Read
              More></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item">
      <div class="blog__card card">
        <div class="lazyload card__image card__image--archival"></div>
        <div class="card__content card__content-blog">
          <div class="card__category">NATIONALARCHIVES</div>
          <div class="card__title">Archival Identifiers for Digital Files</div>
          <p class="card__text">As part of Project Omega for TNA (The National Archives), I have been thinking
            about how identifiers for Digital Files should be constructed. This blog entry continues on from my
            previous entry: Archival Catalogue Record Identifiers.</p>

          <div class="card__link">5 MIN READ | <a href="https://blog.adamretter.org.uk/author/adamretter/"
              alt="link to Adam retter Blog"> Read
              More></a>
          </div>
        </div>
      </div>
    </li>

    <li class="cards__item">
      <div class="blog__card card">
        <div class="lazyload card__image card__image--catalogue"></div>
        <div class="card__content card__content-blog">
          <div class="card__category">THE NATIONAL ARCHIVES</div>
          <div class="card__title">Archival Catalogue Record Identifiers</div>
          <p class="card__text">As previously described, in Project Omega at TNA (The National Archives), we will
            be using a Graph Model to hold all of the catalogue information, specifically an RDF model.</p>

          <div class="card__link">5 MIN READ | <a href="https://blog.adamretter.org.uk/author/adamretter/"
              alt="link to Adam retter Blog"> Read
              More></a>
          </div>
        </div>
      </div>
    </li>

  </ul>

  <div class="button">
    <a class="button__btn button__btn--magenta" href="#" alt="read all articles">READ ALL ARTICLES ></a>
  </div>

</section>
