<section class="book">

  <h1 class="book__title">
    Get My Book
  </h1>

  <h3 class="book__intro">
    < NoSQL Database and Application Development Platform>
  </h3>

  <div class="book__content">

    <div class="book__cover">
      <picture>
        <source srcset="images/webp/book-image@1x.webp 1x, images/webp/book-image@2x.webp 2x"
          alt="eXist book cover image" media="(max-width: 720px)">
        <img srcset="images/webp/book-image@1x.webp 1x, images/webp/book-image@2x.webp 2x"
          alt="eXist book cover image"></img>
      </picture>
    </div>

    <div class="book__text-block">
      <div class="book__heading">
        eXist
      </div>

      <div class="book__sub">
        By Erik Siegel and Adam Retter
      </div>

      <p>
        Get a head start with eXist, the open source NoSQL database and application development platform built
        entirely around
        XML technologies. With this hands-on guide, you’ll learn eXist from the ground up, from using this
        feature-rich
        database
        to work with millions of documents to building complex web applications that take advantage of eXist’s
        many
        extensions.
        If you’re familiar with XML—as a student, professor, publisher, or developer—you’ll find that eXist is
        ideal for all
        kinds of documents.
      </p>

      <div class="book__button button">
        <a class="button__btn button__btn--magenta" href="#" alt="buy now">Buy Now ></a>
      </div>
    </div>

  </div>

</section>
