<section class="footer">
  <div class="footer__content">

    <div class="footer__menu">
      <div class="footer__heading">
        Main Menu
      </div>
      <nav class="footer__nav">
        <ul>
          <li><a href="/" alt="link to Adam Retter Home page">Home</a></li>
          <li><a href="/presentations" alt="link to Adam Retter Presentations">Presentations</a></li>
          <li><a href="/opensource" alt="link to Adam Retter Open Source">Open source</a></li>
          <li><a href="/software" alt="link to Adam retter Purchased Software">Software</a></li>
          <li><a href="/publications" alt="link to Adam Retter publications">Publications</a></li>
          <li><a href="https://blog.adamretter.org.uk/author/adamretter/" alt="link to Adam Retter Blog">Blog</a></li>
          <li><a href="/contact" alt="link to Adam Retter publications">Contact</a></li>
        </ul>
      </nav>
      <div class="footer__social">
        <ul>
          <li>
            <a href="#" aria-label="Link to github Repositories" target="_blank" rel="noopener noreferrer">
              <svg class="navigation__social-icon footer__social-icon">
                <use href="/images/svgs/sprite.svg#github-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/fdbnosql" aria-label="Link to Adams Twitter Account" target="_blank"
              rel="noopener noreferrer">
              <svg class="navigation__social-icon footer__social-icon">
                <use href="/images/svgs/sprite.svg#Twitter-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/adamretter/" aria-label="Link to Adams LinkedIn Account"
              target="_blank" rel="noopener noreferrer">
              <svg class="navigation__social-icon footer__social-icon">
                <use href="/images/svgs/sprite.svg#linkedin2"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div class="footer__contact">
      <div class="footer__heading">
        Contact
      </div>
      <nav>
        <ul>
          <li>(US): +1 917 267-8787</li>
          <li>(UK): +44 (0)2032 397 236</li>
          <li>Mobile(UK): +44 (0)7714 330 069</li>
        </ul>
      </nav>
    </div>

    <div class="footer__links">
      <div class="footer__heading">
        Other useful links
      </div>

      <div class="footer__logos">

        <div class="footer__logos--ev">
          <a href="https://www.evolvedbinary.com/"
            alt="Evolved Binary the future of structured information storage and retrieval" target="_blank"
            rel="noopener noreferrer">
            <img loading="auto" src="/images/svgs/sprite.svg#ev-logo-white" alt="sprite svg ev-logo-white"></a>
        </div>

        <div class="footer__logos--fusion">
          <a href="https://fusiondb.com/" alt="FUSIONDB a simple and powerful Multi-model database." target="_blank"
            rel="noopener noreferrer">
            <img loading="auto" src="/images/svgs/sprite.svg#FusionDB-Logo-white" alt="sprite svg DB-Logo-white"></a>
        </div>

        <div class="footer__logos--wc">
          <a href="https://www.w3.org/" alt="The World Wide Web Consortium (W3C)" target="_blank"
            rel="noopener noreferrer">
            <img loading="auto" src="/images/svgs/sprite.svg#w3c-blue" alt="sprite svg w3c-blue"></a>
        </div>

        <div class="footer__logos--ghost">
          <a href="https://ghost.org/" alt="Ghost create a new platform focused solely on professional publishing"
            target="_blank" rel="noopener noreferrer">
            <img loading="auto" src="/images/svgs/sprite.svg#ghost-white-logo" alt="sprite svg ghost-logo"></a>
        </div>

      </div>

    </div>
  </div>

  <div class="footer__bottom">
    <div class="footer__bottom--copyright">
      © COPYRIGHT 2020 • EVOLVED BINARY • ALL RIGHTS RESERVED.
    </div>
  </div>

</section>

<script src="javascripts/main.js" async></script>

</body>

</html>
