  <section class="footer">
    <div class="footer__content">

      <div class="footer__menu">
        <div class="footer__heading">
          Main Menu
        </div>
        <nav class="footer__nav">
          <ul>
            <li><a href="#Presentations">Presentations ></a></li>
            <li><a href="#Open Source">Open Source ></a></li>
            <li><a href="#Purchased Software">Purchased Software ></a></li>
            <li><a href="#publications">Publications</a></li>
            <li><a href="#Blog">Blog ></a></li>
          </ul>
        </nav>
        <div class="footer__social">
          <ul>
            <li>
              <a href="https://twitter.com/fdbnosql" aria-label="Link to github Repositories">
                <svg class="navigation__social-icon footer__social-icon">
                  <use href="images/svgs/sprite.svg#github-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/fdbnosql" aria-label="Link to Adams Twitter Account">
                <svg class="navigation__social-icon footer__social-icon">
                  <use href="images/svgs/sprite.svg#Twitter-icon"></use>
                </svg>
              </a>
            </li>
            <li>
              <a href="https://twitter.com/fdbnosql" aria-label="Link to Adams LinkedIn Account">
                <svg class="navigation__social-icon footer__social-icon">
                  <use href="images/svgs/sprite.svg#linkedin2"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>

      </div>

      <div class="footer__contact">
        <div class="footer__heading">
          Contact
        </div>
        <nav>
          <ul>
            <li>email: adam.retter@googlemail.com</li>
            <li>(US): +1 917 267-8787</li>
            <li>(UK): +44 (0)2032 397 236</li>
            <li>Mobile (UK): +44 (0)7714 330 069</li>
          </ul>
        </nav>
      </div>

      <div class="footer__links">
        <div class="footer__heading">
          Other useful links
        </div>

          <div class="footer__logos">

            <div class="footer__logos--ev">
            <a href="https://www.evolvedbinary.com/" alt="Evolved Binary">
              <img loading="auto" src="images/svgs/sprite.svg#ev-logo-white" alt="sprite svg ev-logo-white"></a>
            </div>

            <div class="footer__logos--fusion">
              <a href="https://fusiondb.com/" alt="FusionDB">
              <img loading="auto" src="images/svgs/sprite.svg#FusionDB-Logo-white" alt="sprite svg DB-Logo-white""></a>
            </div>

            <div class="footer__logos--wc">
            <a href="https://www.w3.org/" alt="The World Wide Web Consortium (W3C)">
              <img loading="auto" src="images/svgs/sprite.svg#w3c-blue" alt="sprite svg w3c-blue"></a>
            </div>

            <div class="footer__logos--ghost">
            <a href="https://ghost.org/" alt="The World Wide Web Consortium (W3C)">
              <img loading="auto" src="images/svgs/sprite.svg#ghost-white-logo" alt="sprite svg ghost-logo"></a>
            </div>

        </div>

      </div>
    </div>

      <div class="footer__bottom">
        <div class="footer__bottom--copyright">
          © COPYRIGHT 2020 • EVOLVED BINARY • ALL RIGHTS RESERVED.
        </div>
      </div>

  </section>

  <script src="javascripts/main.js" async></script>

</body>
</html>
