    <div class="navbar">
      <div class="navbar__Link-toggle">
        <div class="navbar__burger">
          <div class="navbar__burger__middle"></div>
        </div>
      </div>

      <nav class="navbar__Items">
        <div class="navbar__Link">
          <a href="/" alt="link to Adam Retter Home page">Home</a>
        </div>
        <div class="navbar__Link">
          <a href="/Presentations.html" alt="link to Adam Retter Presentations">Presentations</a>
        </div>
        <div class="navbar__Link">
          <a href="/opensource.html" alt="link to Adam Retter Open Source">Open Source</a>
        </div>
        <div class="navbar__Link">
          <a href="/software.html" alt="link to Adam Retter Open Source">Software</a>
        </div>
        <div class="navbar__Link">
          <a href="/publications.html" alt="link to Adam Retter publications">Publications</a>
        </div>
        <div class="navbar__Link">
          <a href="https://blog.adamretter.org.uk/author/adamretter/" alt="link to Adam Retter Blog">blog</a>
        </div>
        <div class="navbar__Link">
          <a href="/contact.html">Contact</a>
        </div>
      </nav>
    </div>

      <nav class="navigation">
        <ul>
          <!-- <li><a href="/admin/add-content" alt="link to Admin add content">add Content</a></li>
          <li><a href="/admin/content" alt="link to Admin add content">Content</a></li> -->

          <li><a href="/" alt="link to Adam Retter Home page">Home</a></li>
          <li><a href="/presentations.html" alt="link to Adam Retter Presentations">Presentations</a></li>
          <li><a href="/opensource.html" alt="link to Adam Retter Open Source">Open source</a></li>
          <li><a href="/software.html" alt="link to Adam retter Purchased Software">Software</a></li>
          <li><a href="/publications.html" alt="link to Adam Retter publications">Publications</a></li>
          <li><a href="https://blog.adamretter.org.uk/author/adamretter/" alt="link to Adam Retter Blog">Blog</a></li>
          <li><a href="/contact.html" alt="link to Adam Retter publications">Contact</a></li>
        </ul>
        <ul class="navigation__phone">
          <li><a> | (US): +1 917 267-8787</a></li>
          <li><a> | (UK): +44 (0)2032 397 236</a></li>
        </ul>
        <ul class="navigation__icons">
          <li>
            <a href="https://twitter.com/fdbnosql" aria-label="Link to github Repositories">
              <svg class="navigation__social-icon">
                <use href="images/svgs/sprite.svg#github-icon"></use>
              </svg>
            </a>
         </li>
          <li>
            <a href="https://twitter.com/fdbnosql" aria-label="Link to Twitter account">
              <svg class="navigation__social-icon">
                <use href="images/svgs/sprite.svg#Twitter-icon"></use>
              </svg>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/fdbnosql" aria-label="Link to Linkedin">
              <svg class="navigation__social-icon">
                <use href="images/svgs/sprite.svg#linkedin2"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
