      <section class="presentations">

        <h1 class="presentations__title">
          Presentations
        </h1>
        <h3 class="presentations__intro">
          < Presentations I’ve given at Conferences and Events>
        </h3>

        <ul class="presentations__cards cards">

          <div class="presentations__card card">
            <div class="card__content">

              <div class="card__title">
                XQuery and XML Databases
              </div>

              <div class="card__text">
                <p>
                  @ XML Summer School 2019,<br>
                  Oxford
                  <br>
                  19th September 2019

                </p>
              </div>

              <div class="card__link">
                <a class="card__link-pdf" href="presentations/xquery-and-xml-databases_xml-summer-school_oxford_20190919.pdf"
                  alt="XML Databases and XQuery" target="_blank" rel="noopener noreferrer">
                  <img loading="auto" src="images/svgs/sprite.svg#pdf-file-icon" alt="pdf file"></img>
                  PDF >
                </a>
              </div>

            </div>
          </div>

          <div class="presentations__card card">
            <div class="card__content">

              <div class="card__title">
                Database Licensing Chaos<br>
                (PDF)/SLIDES (Slides.com)
              </div>

              <div class="card__text">
                <p>
                  @ London Open Source<br>
                  Database Meetup
                  <br>
                  4th July 2019

                </p>
              </div>

              <div class="card__link">
                <a class="card__link-pdf" href="presentations/database-licensing-chaos_losdbm_20190704.pdf"
                  alt="Database Licensing Chaos (PDF)" target="_blank" rel="noopener noreferrer">
                  <img loading="auto" src="images/svgs/sprite.svg#pdf-file-icon" alt="pdf file"></img>
                  PDF >
                </a>
                <a class="card__link-slides" href="https://slides.com/adamretter/database-licensing-chaos-losdbm19/"
                  alt="Database Licensing Chaos (Slides.com)" target="_blank" rel="noopener noreferrer">
                  <img loading="auto" src="images/svgs/sprite.svg#slides-icon" alt="pdf file"></img>
                  Slides >
                </a>
              </div>
            </div>

          </div>

        </ul>

        <div class="button">
          <a class="button__btn button__btn--magenta" href="/presentations"
            alt="all presentations and events">PRESENTATIONS - EVENTS ></a>
        </div>

      </section>
