<section class="skills">

  <h1 class="skills__title">
    Core Skills
  </h1>

  <h3 class="skills__intro">
    < Programming >
  </h3>

  <div class="skill-block">

    <div class="skill-block__bg">
      <div class="skill-block__java">
        <a href="#popupjava">
          <img loading="auto" src="images/svgs/sprite.svg#Java-Logo" alt="Java logo"></img>
        </a>
      </div>
    </div>

    <div id="popupjava" class="popup-overlay">
      <div class="popup">
        <img loading="auto" class="popup__icon" src="images/svgs/sprite.svg#Java-Logo" alt="Java logo"></img>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <p>
            Java is the No.1 programming language and development platform. It reduces costs, shortens development
            timeframes, drives
            innovation, and improves application services. With millions of developers running more than 51 billion Java
            Virtual
            Machines worldwide, Java continues to be the development platform of choice for enterprises and developers.
          </p>
        </div>
        <a href="https://www.oracle.com/java/" alt="Learn more about JavaScrip" target="_blank"
          rel="noopener noreferrer">Learn more about JavaScrip ></a>
      </div>
    </div>

    <div class="skill-block__bg">
      <div class="skill-block__c">
        <a href="#popupc">
          <img loading="auto" src="images/svgs/sprite.svg#c" alt="c++ logo"></img>
        </a>
      </div>
    </div>

    <div id="popupc" class="popup-overlay">
      <div class="popup">
        <img loading="auto" class="popup__icon" src="images/svgs/sprite.svg#c" alt="c++ logo"></img>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <p>
            C++ is a general-purpose programming language created as an extension of the C
            programming language. C++ has expanded significantly over time, and now has
            object-oriented, generic, and functional features in addition to facilities for low-level memory
            manipulation. Many vendors provide C++ compilers, including the Free Software
            Foundation, LLVM, Microsoft, Intel, Oracle, and IBM.
          </p>
        </div>
        <a href="https://isocpp.org/get-started" alt="Get started with C++" target="_blank"
          rel="noopener noreferrer">Get started with C++ ></a>
      </div>
    </div>

    <div class="skill-block__bg">
      <div class="skill-block__scala">
        <a href="#popupscala">
          <img loading="auto" src="images/svgs/sprite.svg#scala-Logo-White" alt="Scala logo"></img>
        </a>
      </div>
    </div>

    <div id="popupscala" class="popup-overlay">
      <div class="popup">
        <img loading="auto" class="popup__icon" src="images/svgs/sprite.svg#scala-Logo-White" alt="Scala logo"></img>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <p>
            Scala combines object-oriented and functional programming in one concise, high-level language. Scala's
            static types help
            avoid bugs in complex applications, and its JVM and JavaScript runtimes let you build high-performance
            systems with easy
            access to huge ecosystems of libraries.
          </p>
        </div>
        <a href="https://www.scala-lang.org/" alt="Discover more about Scala">Discover more about Scala ></a>
      </div>
    </div>

    <div class="skill-block__bg">
      <div class="skill-block__rust">
        <a href="#popupsrust">
          <img loading="auto" src="images/svgs/sprite.svg#rust-vector-logo" alt="rust logo"></img>
        </a>
      </div>
    </div>

    <div id="popupsrust" class="popup-overlay">
      <div class="popup">
        <img loading="auto" class="popup__icon" src="images/svgs/sprite.svg#rust-vector-logo" alt="rust logo"></img>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <p>
            Rust was first released in early access in December 2013 and received its full release in February 2018 by
            Facepunch
            Studios.

            Rust is a multiplayer-only survival video game available on Microsoft Windows and macOS. Console versions
            for
            PlayStation 4 and Xbox One have been announced for release in 2020.
          </p>
        </div>
        <a href="https://rust.facepunch.com/" alt="SURVIVE, COOPERATE & RAID" target="_blank"
          rel="noopener noreferrer">Survive, CoOperate and Raid ></a>
      </div>
    </div>

    <div class="skill-block__bg">
      <div class="skill-block__typescript">
        <a href="#popupstypescript">
          <img loading="auto" src="images/svgs/sprite.svg#ts-logo-512" alt="TypeScript logo"></img>
        </a>
      </div>
    </div>

    <div id="popupstypescript" class="popup-overlay">
      <div class="popup">
        <img loading="auto" class="popup__icon" src="images/svgs/sprite.svg#ts-logo-512" alt="TypeScript logo"></img>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <p>
            TypeScript extends JavaScript by adding types.
            TypeScript saves you time catching errors and providing fixes before you run code.
            Any browser, any OS, anywhere JavaScript runs. Entirely Open Source.
          </p>
        </div>
        <a href="https://www.typescriptlang.org/" alt="Try in your browser" target="_blank"
          rel="noopener noreferrer">Try in your browser ></a>
      </div>
    </div>

  </div>

  <h3 class="skills__intro">
    < Database Engineering>
  </h3>

  <div class="skill-block">

    <div class="skill-block__bg">
      <div class="skill-block__fusiondb">
        <a href="#popupsfusiondb">
          <img loading="auto" src="images/svgs/sprite.svg#FusionDB-Logo-white" alt="FusionDB logo"></img>
        </a>
      </div>
    </div>

    <div id="popupsfusiondb" class="popup-overlay">
      <div class="popup">
        <img loading="auto" class="popup__icon" src="images/svgs/sprite.svg#FusionDB-Logo-white"
          alt="FusionDB logo"></img>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <p>
            FUSIONDB is a simple and powerful Multi-model database.
            FUSIONDB allows you to store, manage and query millions of Documents and Key/Value pairs using
            XQuery. FUSIONDB will also soon allow users to natively query JSON, HTML and Markdown documents.
          </p>
        </div>
        <a href="https://fusiondb.com/" alt="Try the Alpha Version" target="_blank" rel="noopener noreferrer">Try the
          Alpha Version ></a>
      </div>
    </div>

    <div class="skill-block__bg">
      <div class="skill-block__rocksdb">
        <a href="#popupsrocksdb">
          <img loading="auto" src="images/svgs/sprite.svg#RocksDB-Logo-white" alt="RocksDB logo"></img>
        </a>
      </div>
    </div>

    <div id="popupsrocksdb" class="popup-overlay">
      <div class="popup">
        <img loading="auto" class="popup__icon" src="images/svgs/sprite.svg#RocksDB-Logo-white"
          alt="RocksDB logo"></img>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <p>
            The RocksDB library provides a persistent key value store. Keys and values are arbitrary byte arrays. The
            keys are
            ordered within the key value store according to a user-specified comparator function.
          </p>
        </div>
        <a href="https://rocksdb.org/" alt="Get Started with Rocksdb" target="_blank" rel="noopener noreferrer">Get
          Started with Rocksdb ></a>
      </div>
    </div>

    <div class="skill-block__bg">
      <div class="skill-block__existdb">
        <a href="#popupsexistdb">
          <img loading="auto" src="images/svgs/sprite.svg#existdb-white-logo" alt="ExistDB logo"></img>
        </a>
      </div>
    </div>

    <div id="popupsexistdb" class="popup-overlay">
      <div class="popup">
        <img loading="auto" class="popup__icon" src="images/svgs/sprite.svg#existdb-white-logo"
          alt="ExistDB logo"></img>
        <a class="close" href="#">&times;</a>
        <div class="content">
          <p>
            With just one installation step you get everything you need. No need to setup and configure multiple system
            components.
            Get a feature-complete platform that covers everything to build even complex applications.
            One Data Model XML across all layers makes mapping technologies superfluous and increases productivity.
          </p>
        </div>
        <a href="http://exist-db.org/exist/apps/homepage/index.html"
          alt="Try the all-in-one solution for application building." target="_blank" rel="noopener noreferrer">The
          all-in-one solution for you next app build ></a>
      </div>
    </div>

  </div>

  <h3 class="skills__intro">
    < Information Engineering>
  </h3>

  <div class="skill-block">

    <div class="skill-block__bg">
      <div class="skill-block__xml">
        <img loading="auto" src="images/svgs/sprite.svg#xml-logo" alt="XML logo"></img>
      </div>
    </div>
    <div class="skill-block__bg">
      <div class="skill-block__rdf">
        <img loading="auto" src="images/svgs/sprite.svg#sw-rdf" alt="W3C RDF logo"></img>
      </div>
    </div>
    <div class="skill-block__bg">
      <div class="skill-block__xquery">
        <img loading="auto" src="images/svgs/sprite.svg#xquery-logo" alt="XQuery logo"></img>
      </div>
    </div>
    <div class="skill-block__bg">
      <div class="skill-block__xslt">
        <img loading="auto" src="images/svgs/sprite.svg#xslt-logo" alt="XSLT logo"></img>
      </div>
    </div>
    <div class="skill-block__bg">
      <div class="skill-block__sparql">
        <img loading="auto" src="images/svgs/sprite.svg#sw-sparql" alt="W3C Sparql logo"></img>
      </div>
    </div>
    <div class="skill-block__bg">
      <div class="skill-block__schema">
        <img loading="auto" src="images/svgs/sprite.svg#Schema.org-Logo.wine" alt="Schema logo"></img>
      </div>
    </div>
    <div class="skill-block__bg">
      <div class="skill-block__relax">
        <img loading="auto" src="images/svgs/sprite.svg#RelaxNG-logo" alt="RelaxNG logo"></img>
      </div>
    </div>

  </div>

  <div class="button">
    <a class="button__btn button__btn--magenta" href="cv/Adam-Retter_CV.pdf" alt="link to CV" target="_blank"
      rel="noopener noreferrer">DOWNLOAD MY CV ></a>
  </div>

</section>
