<section class="source">

  <h1 class="source__title">
    Open Source
  </h1>
  <h3 class="source__intro">
    < Popular Repositories>
  </h3>

  <ul class="cards">
    <li class="cards__item">
      <div class="source__card card">
        <div class="card__content">
          <div class="card__title">eXist</div>
          <p class="card__text">eXist-db is a high-performance open source native XML database —a NoSQL document
            database and application platform built
            entirely around XML technologies...
          </p>
          <p>Java</p>
        </div>
        <div class="card__link">
          <a href="#" alt="link to Open Source Page">
            <svg class="card__icon">
              <use href="images/svgs/sprite.svg#github-icon"></use>
            </svg> | Read More>
          </a>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="source__card card">
        <div class="card__content">
          <div class="card__title">JNI Construction Benchmark</div>
          <p class="card__text">Providing the code for a small benchmark to compare the costs of JNI object creation,
            and then present the results...
          </p>
          <p>Java</p>
        </div>
        <div class="card__link">
          <a href="#" alt="link to Open Source Page">
            <svg class="card__icon">
              <use href="images/svgs/sprite.svg#github-icon"></use>
            </svg> | Read More>
          </a>
        </div>
      </div>
    </li>
    <li class="cards__item">
      <div class="source__card card">
        <div class="card__content">
          <div class="card__title">BlogXQ </div>
          <p class="card__text">A simple Blog application written in XQuery 1.0 and XSLT 2.0
            This currently powers the blog on adamretter.org.uk...
          </p>
          <p>JavaScript</p>
        </div>
        <div class="card__link">
          <a href="#" alt="link to Open Source Page">
            <svg class="card__icon">
              <use href="images/svgs/sprite.svg#github-icon"></use>
            </svg> | Read More>
          </a>
        </div>
      </div>
    </li>
  </ul>

  <div class="button">
    <a class="button__btn button__btn--magenta" href="/opensource.html" alt="all open source"> ALL OPEN SOURCE ></a>
  </div>

</section>
