<section class="source">

    <ul class="cards">

      <li class="cards__item">

        <div class="source__card card">
          <div class="card__content">
            <div class="card__title">
              eXist
            </div>
            <p class="card__text">
              eXist-db is a high-performance open source native XML database—a NoSQL document database and application
              platform built entirely around XML technologies...
            </p>
            <p></p>
          </div>

          <div class="card__link">
            <a href="https://github.com/adamretter/exist" alt="link to exist-db Repository" target="_blank"
              rel="noopener noreferrer">
              <svg class="card__icon">
                <use href="images/svgs/sprite.svg#github-icon"></use>
              </svg> | Read More>
            </a>
          </div>
        </div>
      </li>

      <li class="cards__item">
        <div class="source__card card">
          <div class="card__content">
            <div class="card__title">RocksDB</div>
            <p class="card__text">RocksDB is developed and maintained by Facebook Database Engineering Team....
            </p>
            <p></p>
          </div>
          <div class="card__link">
            <a href="https://github.com/adamretter/rocksdb" alt="link to RocksDB Repository" target="_blank"
              rel="noopener noreferrer">
              <svg class="card__icon">
                <use href="images/svgs/sprite.svg#github-icon"></use>
              </svg> | Read More>
            </a>
          </div>
        </div>
      </li>

      <li class="cards__item">
        <div class="source__card card">
          <div class="card__content">
            <div class="card__title">Fusion Studio Extension</div>
            <p class="card__text">
              Fusion DB's extension for Theia IDE. If you don't know what Theia is, then you likely want the full Fusion
              Studio IDE application....
            </p>
            <p></p>
          </div>
          <div class="card__link">
            <a href="https://github.com/adamretter/fusion-studio-extension"
              alt="link to Fusion Studio Extension Repository" target="_blank" rel="noopener noreferrer">
              <svg class="card__icon">
                <use href="images/svgs/sprite.svg#github-icon"></use>
              </svg> | Read More>
            </a>
          </div>
        </div>
      </li>

      <li class="cards__item">
        <div class="source__card card">
          <div class="card__content">
            <div class="card__title">RocksDB</div>
            <p class="card__text">RocksDB is developed and maintained by Facebook Database Engineering Team....
            </p>
            <p></p>
          </div>
          <div class="card__link">
            <a href="https://github.com/adamretter/rocksdb" alt="link to RocksDB Repository" target="_blank"
              rel="noopener noreferrer">
              <svg class="card__icon">
                <use href="images/svgs/sprite.svg#github-icon"></use>
              </svg> | Read More>
            </a>
          </div>
        </div>
      </li>

      <li class="cards__item">
        <div class="source__card card">
          <div class="card__content">
            <div class="card__title">Fusion Studio Extension</div>
            <p class="card__text">
              Fusion DB's extension for Theia IDE. If you don't know what Theia is, then you likely want the full Fusion
              Studio IDE application....
            </p>
            <p></p>
          </div>
          <div class="card__link">
            <a href="https://github.com/adamretter/fusion-studio-extension"
              alt="link to Fusion Studio Extension Repository" target="_blank" rel="noopener noreferrer">
              <svg class="card__icon">
                <use href="images/svgs/sprite.svg#github-icon"></use>
              </svg> | Read More>
            </a>
          </div>
        </div>
      </li>

    </ul>

    <div class="button center">
      <a class="button__btn button__btn--magenta" href="https://github.com/adamretter" alt="GitHub Repository"
        target="_blank" rel="noopener noreferrer"> GITHUB REPOSITORY ></a>
    </div>

</section>
