<%- include('includes/head.ejs') %>
  </head>

  <body>
    <div class="wrapper">

      <header class="header neon">

        <%- include('includes/navigation.ejs') %>

        <div class="header__content">
          <div class="header__name">
            PAGE NOT FOUND
          </div>


            <div class="header__my-space">
              <div class="button">
                <a class="button__btn button__btn--magenta" href="/" alt="link to contact"> BACK TO HOME PAGE ></a>
              </div>

            </div>

              </header>

<%- include('includes/end.ejs') %>
