<%- include('includes/head.ejs') %>
  </head>

  <body>
    <div class="wrapper">

      <header class="header neon">

        <%- include('includes/navigation.ejs') %>

          <div class="header__content">
            <div class="header__name">
              ADAM RETTER
            </div>

            <div class="header__title">
              <h1>Software Developer and Consultant</h1>
            </div>

            <div class="header__intro">
              <p>
                Software developer and Consultant, for Java, Scala, C++ and XQuery.</br>
                Core contributor to eXist-db for the last 13 years.</br>
                Contributor to FaceBook's RocksDB. Digital Archive (UK National Archives).
              </p>
            </div>

            <div class="header__my-space">
              <h2>CONTACT</h2>

                    <div class="main-area">
                      <div class="main-area__form">

                        <form method="POST" action="https://formspree.io/hello@evolvedbinary.com">
                          <input type="hidden" name="source" value="www.evolvedbinary.com">

                          <div class="top-form">

                            <div class="inner-form">
                              <div class="label">Enter your Name</div>
                              <input type="text" name="name" placeholder="Enter your Name" style="opacity: 0.4;">
                            </div>

                            <div class="inner-form">
                              <div class="label">Enter your Email</div>
                              <input type="text" name="_replyto" placeholder="Enter your Email" style="opacity: 0.4;">
                            </div>
                          </div>

                          <div class="middle-form">
                            <div class="inner-form">
                              <div class="label">Enter your Company</div>
                              <input type="text" name="company" placeholder="Enter your Company" style="opacity: 0.4;">
                            </div>

                            <div class="inner-form">
                              <div class="label">Enter your Telephone Number</div>
                              <input type="text" name="telephone" placeholder="Enter your Telephone Number" style="opacity: 0.4;">
                            </div>

                          </div>

                          <div class="bottom-form">
                            <div class="bottom-form__inner">
                              <div class="label">Your message</div>
                              <textarea name="message" placeholder="" style="opacity: 0.4;"></textarea>
                            </div>
                          </div>

                          <div class="button">

                            <a type="submit" value="Send" class="button__btn button__btn--magenta"> SEND ></a>
                          </div>

                        </form>

                      </div>
                    </div>

              <!-- <div class="button">
                <a class="button__btn button__btn--magenta" href="#" alt="Send completed form"> SEND ></a>
              </div> -->

            </div>

      </header>

      <main>
        <%- include('includes/blog.ejs') %>
      </main>

    </div>

    <%- include('includes/end.ejs') %>
