<%- include('includes/head.ejs') %>
  </head>

  <body>
    <div class="wrapper">

      <header class="header neon">

        <%- include('includes/navigation.ejs') %>

          <div class="header__content">

            <div class="header__name-online">
              <img loading="auto" src="images/Adam-Home-oneline-v1.png" alt="Adam Retter"></img>
            </div>

            <div class="header__name-mobile">
              <img loading="auto" src="images/Adam-Home-mobile-v1.png" alt="Adam Retter"></img>
            </div>

            <div class="header__my-space header__contact">
              <h2>CONTACT</h2>

              <div class="main-area">
                <div class="main-area__form">

                  <form method="POST" action="https://formspree.io/hello@evolvedbinary.com">
                    <input type="hidden" name="source" value="www.evolvedbinary.com">

                    <div class="top-form">

                      <div class="inner-form">
                        <div class="label">Enter your Name</div>
                        <input type="text" name="name" placeholder="Enter your Name" style="opacity: 0.8;">
                      </div>

                      <div class="inner-form">
                        <div class="label">Enter your Email</div>
                        <input type="text" name="_replyto" placeholder="Enter your Email" style="opacity: 0.8;">
                      </div>
                    </div>

                    <div class="middle-form">
                      <div class="inner-form">
                        <div class="label">Enter your Company</div>
                        <input type="text" name="company" placeholder="Enter your Company" style="opacity: 0.8;">
                      </div>

                      <div class="inner-form">
                        <div class="label">Enter your Telephone Number</div>
                        <input type="text" name="telephone" placeholder="Enter your Telephone Number" style="opacity: 0.8;">
                      </div>

                    </div>

                    <div class="bottom-form">
                      <div class="bottom-form__inner">
                        <div class="label">Your message</div>
                        <textarea name="message" placeholder="" style="opacity: 0.8;"></textarea>
                      </div>
                    </div>

                    <div class="button">

                      <a type="submit" value="Send" class="button__btn button__btn--magenta"> SEND ></a>
                    </div>

                  </form>

                </div>
              </div>

            </div>

      </header>

        <main>
          <%- include('includes/blog.ejs') %>
        </main>

    </div>

  <%- include('includes/end.ejs') %>
