.navigation {
  &__admin {
    display: none;

    @media screen and (min-width: $md) {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      background-color: rgba(28, 58, 105, 1);
      padding: 1em;
      box-shadow: 0 0 5em rgba($color-black, 1);
      text-align: center;
      border-radius: 5px;
    }
  }

  &__menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  &__title {
    @include font-size(20px, 27px, 2px);
    font-family: sfmonomedium, Arial, Helvetica, sans-serif;
    color: $color-green;
    margin: 0 auto;
    padding: 0;

    @media screen and (min-width: $md) {
      margin: 1em 3.5em 0;
    }
  }

  &__edit {
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(177, 5, 128, 0.4);
    margin: 2em 1em 2em 0;
    background-color: $color-dark-blue;
    transition: all 0.3s;

    &:hover {
      box-shadow: 0 0 20px 10px rgba($color-black, 0.5);
      background: $color-dark-blue;
      color: $color-white;
    }
  }
}

.presentation {
  &__admin {
    @include background((
      'gradient': (to left, (#009de100, #001638)),
      'image': '',
      'bg-position': right
    ));
    margin: 1em auto 2em;
    padding: 1em 3em;

    @media screen and (min-width: $md) {
      margin: -12em 4em 2em;
    }
  }
}

.opensource {
  &__admin {
    @include background((
      'gradient': (to left, (#009de100, #001638)),
      'image': '',
      'bg-position': right
    ));
  }
}
