.button {
  &__btn {
    @include font-size(14px, 10px, 1px);
    transition: all 0.4s;
    border: 1px solid $color-magenta;
    cursor: pointer;

    &--submit {
      color: $color-white;
      background-color: $color-magenta;
      border: none;
    }

    &--login {
      color: $color-white;
      background-color: none;
      border: 1px solid $color-magenta;
    }
  }
}
