.header {
  // position: relative;
  // background-image: url(../images/home-banner@1x.jpg);
  // background-size: cover;
  // background-position: top;

  @include background((
    'gradient': (to bottom, (#61a7c600, #001638)),
    'image': 'Adam-Home-banner-@x1.jpg',
    'bg-position': top
  ));

  @media (min-resolution: 192dpi) and (min-width: 37.5em),
    (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    (min-width: 125em) {
    @include background((
      'gradient': (to bottom, (#00223009, #0016380f)),
      'image': 'Adam-Home-banner-@x2.jpg',
      'bg-position': center
    ));
    max-height: 57em;
  }


  &__software {
    @include background((
      'gradient': (to bottom, (#009de100, #001638)),
      'image': 'Purchased-banner@1x.webp',
      'bg-position': top,
    ));

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      (min-width: 125em) {
      @include background((
        'gradient': (to bottom, (#00192492, #001638)),
        'image': 'Purchased-banner@2x.webp',
        'bg-position': center
      ));
    }
  }

  &__presentation {
    @include background((
      'gradient': (to bottom, (#009de100, #001638)),
      'image': 'presentations-banner-b@1x.jpg',
      'bg-position': top,
    ));

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      (min-width: 125em) {
      @include background((
        'gradient': (to bottom, (#000a0e00, #001638)),
        'image': 'presentations-banner-b@2x.jpg',
        'bg-position': center
      ));
    }
  }

  &__open {
    @include background((
      'gradient': (to bottom, (#02202d89, #001638)),
      'image': 'Adam-open-banner@x1.jpg',
      'bg-position': top,
    ));

    @media (min-resolution: 192dpi) and (min-width: 37.5em),
      (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
      (min-width: 125em) {
      @include background((
        'gradient': (to bottom, (#02202d89, #001638)),
        'image': 'Adam-open-banner@2x.jpg',
        'bg-position': center
      ));
    }
  }

  &__content {
    padding-top: 25%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    @media screen and (min-width: $md) {
      padding-top: 2%;
      justify-content: center;
    }
  }

  &__name-online {
    display: none;

    @media screen and (min-width: $md) {
      display: block;
      margin: 0 15%;
    }
  }

  &__name-mobile {
    display: block;
    margin: -2em auto .3em;

    @media screen and (min-width: $md) {
      display: none;
    }
  }

  &__home-name-mobile {
    margin: -2em auto -2em;
  }

  &__title {
    align-items: center;
    width: 100%;

    @media screen and (min-width: $md) {
      margin: 0 auto;
    }

    h1 {
      @include font-size(36px, 38px, 1px);
      margin: 0.5em 0;
      text-shadow: none;
      color: $color-white;
      padding-bottom: .5em;

      @media screen and (min-width: $md) {
        @include font-size(26px, 0, 3px);
      }
    }
  }

  &__intro {
    margin: 0 1em;

    @media screen and (min-width: $md) {
      margin: 0 1em;
    }

    p {
      @include font-size(19px, 30px, 1px);
      font-family: sfmonomedium;
      text-align: center;

      @media screen and (min-width: $md) {
        @include font-size(15px, 23px, 1px);
      }
    }
  }

  &__my-space {
    background-color: rgba($color-dark-blue, 0.7);
    padding: 1em;
    margin: 0 1em;
    box-shadow: 0 0 5em rgba($color-black, 1);
    text-align: center;

    @media screen and (min-width: $md) {
      padding: 2em 2em;
      margin: 0 5em;
    }

    h2 {
      @include font-size(33px, 33px, 2px);
      margin: 0 0 0.5em;
    }

    p {
      @include font-size(16px, 25px, 1px);
      text-align: center;
      color: $color-green;

      @media screen and (min-width: $md) {
        @include font-size(12px, 25px, 1px);
      }
    }
  }
}
